/* .card_container {
    border: 1px solid #E0E0E0;
    display: flex;
    box-shadow: none;
    margin: 6%;
    background-color:#D9D9D9;
    box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;
    border-radius: 16px;
    position: relative;
    cursor: pointer;
} */
.card {
    width: 100%;
    height: 100%;
    box-shadow: none;
    margin-left: 4%; 
    box-shadow: #f5f2f229 0px 1px 4px;
    border-radius: 8px;
    margin-top: 2%;
    /* background-color:#D9D9D9; */
}

.numOrder{
    display: flex;
    justify-content: left;
    align-items: center;
    height: 10%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    border-radius: 8px 8px 0px 0px;
}
/* .card:hover{
    transform: scale(1.1);
} */

.content-text{
    padding-left: 16px;
    padding-right: 16px;
}
.paragraph{
    font-size: 12px;
    height: 10%;
    text-overflow: ellipsis;
    overflow: hidden;
    color: rgb(145, 145, 145);
    /* font-weight: 400; */
    line-height: 20px;
}


